
services:
  redis-stack:
    image: redis/redis-stack:latest
    container_name: redis-stack
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redisstack_data:/data
    environment:
      - REDIS_ARGS=--appendonly yes --requirepass ${REDIS_PASSWORD}

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis-insight
    restart: unless-stopped
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data

volumes:
  redisstack_data:
  redisinsight_data: